{{ $baseUrl := .Site.BaseURL }}
{{ $title := .Title }}
{{ $me := .Site.Data.jcotellese }}
{{ $siteTitle := .Site.Title }}
{{ $location := index .Site.Data.location .Site.Params.primarylocation }}
<script type="application/ld+json">
[
	{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"name": "{{ $title }}",
		"url": "{{ $baseUrl }}",
		"sameAs": [
			"{{ $me.social.github }}",
			"{{ $me.social.twitter }}"
		]
	},
	{
		"@context": "http://schema.org",
		"@type": "Person",
		"name": "{{ $me.name }}",
		"url": "{{ $baseUrl }}",
		"sameAs": [
			"{{ $me.social.github }}",
			"{{ $me.social.twitter }}"
		],
		"image": "{{ $baseUrl }}/assets/images/avatar.jpg"
	}
]
</script>